.nav-bar {
  justify-content: end;
  padding-left: 5px;
}

img {
  padding: 3px;
}

.nav-text {
  color: white;
}

.social-button {
  border-radius: 50%;
  background-color: rgb(111, 174, 216);
  border: none;
  margin: 2px;
}

.resume {
  border: none;
  margin: 5px;
}
