.about {
  padding: 2%;
  justify-content: center;
}
.image {
  justify-content: left;
}
.bio {
  background-color: rgba(255, 255, 255, 0.733);
  padding: 2%;
  margin-top: 8px;
}

.profile {
  margin: 0 auto;
}
.profile__portrait {
  width: 240px;
  margin-right: 40px;
  border-radius: 50%;
}

.social-button {
  margin: 2px;
}
