.about {
  padding-left: 1%;
  box-sizing: border-box;
  justify-content: center;
  display: grid;
}
.image {
  width: 30%;
  justify-content: left;
}
.bio {
  background-color: rgba(255, 255, 255, 0.459);
  padding: 2%;
  color: #2b2b2b;
}
