.aboutmain {
  text-align: center;
}
.aboutlist {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}
.abouttable {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.about {
  display: inline-block;
  justify-content: center;
  padding-left: 1%;
}
