:root {
  --primary-color: #757ea3c2;
}
* {
  box-sizing: border-box;
}
.app {
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}
body {
  background-color: rgba(184, 208, 230, 0.726);

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  font-size: 20px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* sets the line-height to 1.6 */
}
h1,
h2,
h3 {
  text-align: center;
}
h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 26px;
  font-weight: 700;
}

h3 {
  font-size: 22px;
  font-weight: 700;
}
