:root {
  --primary-color: #45528f8e;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
}
* {
  box-sizing: border-box;
}
.app {
  display: grid;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
}
body {
  background-color: var(--primary-color);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* sets the line-height to 1.6 */
  color: white;
}
h1,
h2,
h3 {
  text-align: center;
}
h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}
.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 4%;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: aliceblue;
}
.page-header__item {
  flex: 0 1 80px;
  width: 100px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}
.navigation-list Li {
  display: inline-block;
  margin-left: 15px;
}
.navigation-list__item--active {
  text-decoration: none;
}

.grid__item {
  display: inline-block;
  width: 33%;
  padding: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.input-wrapper {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  min-width: 75px;
}

.error-message {
  color: red;
  font-size: 0.8em;
}
