.work {
  justify-content: center;

  padding-bottom: 4%;
}
.work-container {
  margin-top: 8px;
}
.workmain {
  padding: 20px;
  margin: 15px;
}
.work-description {
  text-align: left;
}

.project {
  color: #2b2b2b;
  border-bottom: none;
}
.project-img {
  width: 300px;
  justify-content: center;
  padding: 2%;
}
.project-body {
  background-color: rgba(255, 255, 255, 0.733);
  padding: 2%;
}
.project-text {
  padding-left: 5px;
  color: #2b2b2b;
  text-align: center;
}

.myflix-case-study {
  display: flex;
}

.case-study {
  justify-content: center;
  text-align: center;
  padding: 5px;
  margin: auto;
}
.case-study-img {
  width: 15rem;
}
.update-user-img {
  justify-content: end;
}

.img {
  width: 30%;
  padding-inline: 2%;
  justify-content: center;
}

.accordion-text {
  justify-content: center;
}

.cuisine {
  width: 80%;
}
